.about-us {
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
}

.about-us__advantage,
.about-us__image,
.about-us__text {
  display: block;
}

.about-us__advantage {
  margin-top: 20px;
}

.about-us__text {
  padding-top: 20px;
}

.about-us__text {
  font-size: 17px;
  line-height: 20px;
}

.about-us__reviews-wrapper {
  margin-top: 60px;
}

.about-us__reviews-title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 38px;
}

.about-us__reviews-text {
  font-size: 15px;
  line-height: 30px;
  color: @text-color;
  font-weight: 400;
  margin-bottom: 70px;
}

.about-us__reviews-client-name {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 15px;
}

.about-us__reviews-client-nickname {
  display: block;
  font-size: 17px;
  line-height: 30px;
  color: @text-color;
  font-weight: 400;
  margin-bottom: 35px;
}

.about-us__toggle {
  display: inline-block;
  margin-bottom: 39px;
}

.slider__toggle {
  display: block;
  float: left;
  width: 130px;
  height: 52px;
  border: 1px solid @text-color;
  background: transparent;
  cursor: pointer;
}

.slider__toggles--prev {
  background: url("../../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 37px;
  background-position-y: 13px;
  width: 130px;
  height: 52px;
}

.slider__toggles--next {
  background: url("../../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 42px;
  background-position-y: 13px;
  width: 130px;
  height: 52px;
}


@media (min-width:@tablet-width) {
  .about-us {
    padding: 0;
    background: url("../../img/review@1x.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    background-position-y: 550px;
  }

  .about-us::after {
    display: block;
    content: "";
    background: url("../../img/bg-zigzag-line.svg");
    background-size: cover;
    height: 17px;
    width: 772px;
    margin-top: 52px;
  }

  .about-us__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 57px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 20px;
  }

  .about-us__advantage {
    width: 261px;
    margin-right: 60px;
  }

  .about-us__reviews-wrapper {
    position: relative;
    margin-top: 167px;
    padding-bottom: 57px;
  }

  .about-us__reviews-title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__reviews-text {
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 65px;
  }

  .about-us__button {
    position: absolute;
    top: 0;
    left: 493px;
    width: 175px;
    height: 52px;
    padding: 15px 0;
  }

  .about-us__toggle {
    position: absolute;
    margin: 0;
    bottom: 100px;
    right: 0;
  }

  .slider__toggles--prev {
    border: 0;
    background-position-x: 1px;
    background-position-y: 13px;
    width: 70px;
    height: 52px;
  }

  .slider__toggles--next {
    border: 0;
    background-position-x: 15px;
    background-position-y: 13px;
    width: 70px;
    height: 52px;
  }
}
