.contacts {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 42px;
}

.contacts__info {
  display: table;
  margin-bottom: 44px;
}

.contacts__cell {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: @text-color;
}

.contacts__cell--green-line {
  border-bottom: 1px solid @green;
}

.contacts__map {
  border: 0;
  background: url("../../img/map-mobile@1x.jpg");
  margin-bottom: 39px;
}

.contacts__button {
  margin-bottom: 39px;
}
