.checkbox {
  padding-bottom: 30px;
}

.checkbox__label {
  display: flex;
  flex-direction: row;
}

.checkbox__label-name {
  font-size: 17px;
  line-height: 18px;
}

.checkbox__item {
  margin-bottom: 20px;
}

@media (min-width:@desktop-width) {
  .checkbox__item {
    width: 250px;
  }

  .checkbox--radio {
    display: flex;
    flex-direction: column;
  }
}
