.user-list__item {
  width: 320px;
  height: 79px;
  border-top: 1px solid #ececec;
}

.user-list__search {
  font-size: 17px;
  line-height: 24px;
  display: block;
  text-align: left;
  margin-left: 75px;
  margin-top: 30px;
}

.user-list__cart {
  font-size: 17px;
  line-height: 24px;
  display: block;
  text-align: left;
  margin-left: 75px;
  margin-top: 30px;
}

.user-list__item--icon-search {
  background-image: url("../../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 31px;
  width: 320px;
  height: 79px;
}

.user-list__item--icon-cart {
  background-image: url("../../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position-x: 32px;
  background-position-y: 31px;
  width: 320px;
  height: 79px;
}

@media (min-width: @tablet-width) {
  .user-list {
    order: 2;
    padding-left: 125px;
  }

  .user-list__item {
    border: 0;
  }

  .user-list__search {
    display: none;
  }

  .user-list__item--icon-search {
    width: 82px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    display: flex;
    margin-left: auto;
  }

  .user-list__item {
    width: 257px;
    height: 79px;
  }

  .user-list__search {
    display: none;
  }

  .user-list__item--icon-search {
    width: 82px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .user-list__cart {
    font-size: 17px;
    line-height: 24px;
    display: block;
    text-align: left;
    margin-left: 75px;
    margin-top: 30px;
  }
}
