.main-nav__toggle {
  position: absolute;
  top: 32px;
  left: 265px;
  background: url("../../img/icon-menu-open.svg");
  width: 24px;
  height: 14px;
  border: 0;
  cursor: pointer;
}

@media (min-width:@tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }
}
