.page-footer {
  .width-mobile;
  margin: 0 auto;
  background: @footer-font-color;
}

.page-footer__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.page-footer__social {
  padding-top: 25px;
  padding-bottom: 27px;
}

.page-footer__copyright {
  padding-top: 15px;
  padding-bottom: 28px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    .width-table;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    padding-top: 34px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    display: block;

    &:hover {
      fill: @green-hover;
    }

    &:active,
    &:focus {
      fill: @green-down;
    }
  }

  .page-footer__social {
    margin-left: 70px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__wrapper {
    padding-top: 28px;
    padding-bottom: 26px;
  }

  .page-footer__social {
    margin-left: 77px;
    padding-top: 5px;
  }

  .page-footer__logo {
    margin-top: 17px;
  }
}
