.page-header {
  .width-mobile;

  position: relative;
  margin: 0 auto;
  width: auto;
}

.page-header__logo {
  display: block;
  margin: 22px 117px;
  z-index: 9999;
}

.page-header__logo-mobile {
  display: block;

  &:hover {
    fill: #666666;
  }

  &:active,
  &:focus {
    fill: #b2b2b2;
  }
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    .width-table;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-header__logo {
    z-index: 9999;
    margin-left: 0;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;

    &:hover {
      fill: #666666;
    }

    &:active,
    &:focus {
      fill: #b2b2b2;
    }
  }

  .page-header__logo-desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-width: 1250px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
  }

  .page-header__logo {
    position: absolute;
    left: 560px;
    z-index: 9999;
    margin: 22px;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;

    &:hover {
      fill: #666666;
    }

    &:active,
    &:focus {
      fill: #b2b2b2;
    }
  }
}
