.page-main {
  .width-mobile;
}

.page-main__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.page-main__title--gray-font {
  background: @footer-font-color;
  text-align: center;
  padding-top: 77px;
  padding-bottom: 80px;
  border-top: 1px solid #ececec;
}

.page-main__text {
  font-size: 13px;
  line-height: 24px;
  color: @text-color;
  font-weight: 400;
  padding-top: 28px;
}

.page-main__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
