.page-footer {
  .width-mobile;
  background: @footer-font-color;
}

.page-footer__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.page-footer__logo {

}

.page-footer__social {
  padding-top: 25px;
  padding-bottom: 27px;
}

.page-footer__copyright {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width:@tablet-width) {
  .page-footer {
    .width-table;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
  }

  .page-footer__logo-image {
    display: block;
    background: url("../../img/logo-footer.svg");
    width: 102px;
    height: 34px;
  }

  .page-footer__social {
    margin-left: 70px;
  }
}

@media (min-width:@desktop-width) {

}
