.page-footer {
  background-color: #353f47;
}

.page-footer__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-footer__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.page-footer__nav-item {
  border-right: 2px solid #4a575f;
  padding-right: 10px;
  padding-left: 10px;
}

.page-footer__nav-item:first-child {
  padding-left: 0;
}

.page-footer__nav-item:last-child {
  border-right: 0;
}

.page-footer__nav-link {
  font-size: 12px;
  line-height: 24px;
  color: #4a575f;
  text-transform: uppercase;

  &:hover {
    color: #ffffff;
  }

  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.page-footer__copyright {
  font-size: 12px;
  line-height: 24px;
  color: #4a575f;
  text-transform: uppercase;
}
